<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title></title>
        <meta
            name="viewport"
            content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0"
            />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
            />
        <link rel="stylesheet" href="/css/formularios.css" />
    </head>
    <body>


        <form class="formulario" action="/PersistirUsuario" method="POST">
            <h1>Registrate</h1>

            <div class="contenedor">
                <div class="input-contenedor">
                    <i class="fas fa-user icon"></i>
                    <input type="text" name="usr" placeholder="Nombre Completo" />
                </div>

                <div class="input-contenedor">
                    <i class="fas fa-solid fa-globe icon"></i>
                    <input type="text" placeholder="Dirección de la huerta" />
                </div>

                <div class="input-contenedor">
                    <i class="fas fa-regular fa-compass icon"></i>
                    <input type="text" placeholder="Ciudad" />
                </div>

                <div class="input-contenedor">
                    <i class="fas fa-regular fa-compass icon"></i>
                    <input type="text" placeholder="telefono" name="telefono" />
                </div>


                <div class="input-contenedor">
                    <i class="fas fa-envelope icon"></i>
                    <input type="text" name="email" placeholder="E-Mail" />
                </div>

                <div class="input-contenedor">
                    <i class="fas fa-key icon"></i>
                    <input type="password" name="pass" placeholder="Contraseña" />
                </div>
                <input type="submit" value="Registrate" class="button" />
                <p>
                    Al registrarte, aceptas nuestras Condiciones de uso y Política de
                    privacidad.
                </p>
                <p>
                    ¿Ya tienes una cuenta?<a class="link" href="formulario2.html"
                                             >Iniciar Sesión</a
                    >
                </p>
            </div>
        </form>



    </body>
</html>
