<html html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">


<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" media="screen" href="/css/Styles.css">
    <link rel="stylesheet" href="/css/estilo_info.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilo_info.css">

    <!-- <link rel="stylesheet" href="/css/nuevoCultivoStyle.css"> -->
</head>

<body>


    <header sec:authorize="hasAnyRole('ADMINISTRADOR', 'PRODUCTOR')"
        th:replace="/fragments/HeaderLogueado::headerLogueado"></header>
    </head>
    <br>
    <h3 style="text-align:center; width: 100%;">Crear un nuevo posteo</h3>

    <div style="width: 600px ; margin-left: 70px; position: relative;">
        <form action="/foro/persistirPost" method="POST" type="POST" enctype="multipart/form-data">
            <div class="row g-3">
                <div class="col-sm-6">



                    <br>

                    <div class="alert alert-danger" role="alert" th:if="${error != null}">
                        Hubo algun error en la carga del posteo
                    </div>

                    <label for="firstName" class="form-label">Titulo de posteo</label>
                    <input onkeyup="comprobaciones();" type="text" class="form-control" id="nombre" name="nombre">
                    <br>
                    <label for="firstName" class="form-label">Seleccione una categoria</label>
                    <select onkeyup="comprobaciones();" class="form-select" onchange="trasladarValorCategoria();"
                        th:object="${c}" id="selectCategoria" style="border-radius: 5%;"
                        aria-label=".form-select-lg example">
                        <option selected></option>
                        <option th:each="c : ${categorias}" th:value="${c.idCategorias}" th:text="${c.nombre}"></option>
                    </select>

                    <input type="text" id="categoria" name="categoria">
                    <br>
                  
                    <br>
                    <label for="firstName" class="form-label">Contanos de que se trata tu posteo</label>
                    <textarea onkeyup="comprobaciones();" name="informacion" id="informacion" cols="80"
                        rows="5"></textarea>
                    <br>
                    <br>
                    <input onclick="comprobaciones();" type="file" id="img" name="img">
                    <br><br>

                    <button type="sumbit" id="modificarBoton"
                        style="width: 200px ; height: 35px; margin-bottom: 35px;">Subir posteo
                    </button>
                </div>
        </form>
    </div>
    <script>




        var impTitulo = document.getElementById('nombre');
       
        var impCategoria = document.getElementById('categoria');
        var impDescripcion = document.getElementById('informacion');
        var ImpImg = document.getElementById('img');
        var ImpBtn = document.getElementById('modificarBoton');

        ImpBtn.hidden = true;

        function comprobaciones() {

            if (impTitulo.value != "" && impCategoria.value != "" && impDescripcion.value != "") {
                ImpBtn.hidden = false;
            } else {
                ImpBtn.hidden = true;
            }





        }


        
        impCategoria.hidden = true


  

        function trasladarValorCategoria() {
            var cod = document.getElementById('selectCategoria').value;
            impCategoria.value = cod;
        }

    </script>

</body>



</html>