<html lang="es" html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <title></title>
        <meta
            name="viewport"
            content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0"
            />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
            />
        <link rel="stylesheet" href="/css/usuario.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/Styles.css">

        <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous">
        </script>
    </head>

    <body>

        <header th:replace="/fragments/header::header"></header> 


        <section class="seccion-perfil-usuario">
            <div class="perfil-usuario-header">
            </div>
        </div> 
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio "style="width: 865px;">
                <h3 class="titulo">Preguntas Frecuentes </h3>



            </div>
            <div class="perfil-usuario-footer"style="width: 865px;" >
                <ul class="lista-datos">
                    <h1> texto de prueba </h1>
                    <p> texto de prueba </p>  

                </ul>

            </div>

    </section>

    <!--Footer-->
    <div th:replace="/fragments/Footer::FooterGenerico"</div>
    <!--::::Pie de Pagina::::::-->


</body>


