<div th:fragment="EditarPerfil">
<div class="perfil-usuario-footer">
     <form class="formulario">
      <h1>Editar perfil:</h1>

      <div class="contenedor">
        <label class="d-inline word-break" for="id_firstname">
          Nombre Completo
        </label>
        <div class="input-contenedor">
          <input type="text" />
        </div>
        <label class="d-inline word-break" for="id_firstname">
          Direccion de la huerta
        </label>
        <div class="input-contenedor">
          <input type="text" />
        </div>
        <label class="d-inline word-break" for="id_firstname"> 
            Ciudad </label>
        <div class="input-contenedor">
          <input type="text" />
        </div>
        <label class="d-inline word-break" for="id_firstname">
          Cultivos del lugar
        </label>
        <div class="input-contenedor">
          <input type="text" />
        </div>
        <label class="d-inline word-break" for="id_firstname">
          Correo Electronico
        </label>
        <div class="input-contenedor">
          <input type="text" />
        </div>
        <label class="d-inline word-break" for="id_firstname">
          Nueva contraseña
        </label>
        <div class="input-contenedor">
          <input type="password" />
        
     
        <input type="submit" value="Modificar" class="botones" />
        <input type="submit" value="Cancelar" class="botones" />
          </div>
    </form>
    
    </div>
    
</div>