<div th:fragment="FooterGenerico">
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="img/Logo.png" alt="Logo" />
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>ACERCA DE NOSOTROS</h2>
                <ul class="nav flex">
                    <li class="nav-link p-0 text-muted"><a href="#" >Sustentabilidad</a></li>
                    <li class="nav-link p-0 text-muted"><a href="#" >Noticias</a></li>
                    <li class="nav-link p-0 text-muted"><a href="#" >Inversores</a></li>
                </ul>
            </div>
            <div class="box">
                <h2>SEGUINOS</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small
                >&copy; 2022 <b>Ecoagro</b> - Todos los Derechos Reservados.</small
            >
        </div>
    </footer>
</div>