<!-- <header th:replace= "/fragments/header :: header" </header>-->
<div th:fragment="header">
    <header>
        <a href="/PaginaPrincipal">
            <div class="Logo">
                <img id="imagenTitulo" src="/img/Logo.png" alt="error" class="logo-img" onclick="hacerFoco">
                <h2 class="logo-nombre">ECOAGRO</h2>
            </div>
        </a>
        <nav style="display: flex">
            <a id="nb" href ="/login">Iniciar sesion</a>
            <a id="nb" href="/Cultivos/PaginaPrincipal" class="nav-link">Cultivos</a> 
            <a id="nb" href="/PreguntasFrecuentes" class="nav-link" >Preguntas frecuentes</a>
            <a id="nb" href="/foro/PaginaPrincipal" class="nav-link">Foro</a>
            <a id="nb" href="/Contacto" class="nav-link">Contacto</a>
            <a id="nb" href="/perfil" class="nav-link">perfil 2</a>
        </nav>



    </header>
    <head>
    <div class="circulo"></div>
    <div class="cuadrado"></div>
    <div class="cuadradoDer"></div>
    <div class="espacio"></div>
</head>

</div>