<!-- <header th:replace= "/fragments/header :: header" </header>-->
<div th:fragment="header">
        <header>
            <div class="Logo">
                <img src="/img/Logo.png" alt="error" class="logo-img">
                <h2 class="logo-nombre">ECOAGRO</h2>
            </div>
           <nav style="display: flex">
            <a id="nb" href ="/login">Iniciar sesion</a>
            <a id="nb" href="/Cultivos/PaginaPrincipal" class="nav-link">Cultivos</a> 
            <a id="nb" href="" class="nav-link">Nuestras redes</a>
            <a id="nb" href="Foro.html" class="nav-link">Foro</a>
            <a id="nb" href="" class="nav-link">Contacto</a>
        </nav>



        </header>
    <head>
    <div class="circulo"></div>
    <div class="cuadrado"></div>
    <div class="cuadradoDer"></div>
    <div class="espacio"></div>
</head>

</div>