<div class="container" style="width: 100%;" th:fragment="gestionDeUsuarios">
    <div class="table-responsive" style="width: 100%;">
        <table class="tabla">

            <h3 style="text-align: center;" id="tituloTabla">Gestion de usuarios</h3>
            <tr class="tabla"></tr>

            <div class="tablaIntegradora">
            <tbody style="width: 100%;">
                <tr>

                    <td id="">21/03/22</td>
                    <td style="width: 60%;"> francissimeoni90@gmail.com </td>
                    <td style="width: 30%;">
                        <input style="width: 230px; text-align: center;" id="btnAltaProductor" type="submit" value="Otorgar permisos productor" class="botones"
                            hidden=false />

                        <input style="width: 230px; text-align: center;" id="btnAltaAdministrador" type="submit" value="Otorgar permisos administrador"
                            class="botones" hidden=false />

                    </td>
                </tr>
            </tbody>
        </div>

        </table>
    </div>
</div>