<div class="container" th:fragment="visorDeEventos">
  <div class="table-responsive">
    <table class="tabla">



      <h3 style="text-align: center;" id="tituloTabla">Visor de eventos</h3>
      <tr class="tabla"></tr>



      <tr >
        <td>21/03/22</td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
          possimus officiis, consequatur temporibus officia in sed, quas
        </td>
        <td>
          <input id="btnModificar" type="submit" value="Modificar" class="botones" hidden=false />

          <div class="switch">
            <label for="switch-input" id="btnSuspender">Desactivar perfil</label>
            <input type="checkbox" id="switch-input">
            <label for="switch-input" class="switch-label"></label>
            <label for="switch-input" id="switch-activar">Activar perfil</label>
          </div>
        </td>
      </tr>


    </table>
  </div>
</div>